<%- include("partials/header") %>
<br>

<div class="mainpage">
  <h1>Create New Blog</h1>
  <form action="/composedbyurvashi" method="post">
    <div class="form-group">
      <label>Blog-ID</label>
      <input class="form-control" type="text" name="postTitleID" required>
      <br>
      <label>Title</label>
      <input class="form-control" type="text" name="postTitle" required>
      <br>
      <label>Post</label>
      <textarea class="form-control" name="postBody" rows="10" cols="30" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Publish</button>
  </form>
  <br><br>

  <h1>Search and Delete Blog</h1>
  <!-- Search Form -->
  <form action="/searchblog" method="GET" class="form-inline">
    <input type="text" name="query" class="form-control" placeholder="Search by Title">
    <button type="submit" class="btn btn-secondary">Search</button>
</form>
<br>
<br>


<%- include("partials/footer") %>

<!-- CKEditor Script -->
<script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('postBody');
</script>

<style>
  .mainpage {
    max-width: 1024px;
    width: 90vw;
    margin: 0 auto;
  }

  .form-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }

  input[type="text"]:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
  }

  button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-primary {
    background-color: #53a2f7;
    color: white;
    border: none;
  }

  .btn-primary:hover {
    background-color: #007BFF;
  }

  .btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
  }

  .btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
  }

  .btn-danger:hover {
    background-color: #c82333;
  }
</style>
